.headerWrapper {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top:0rem;
  left: 0rem;
  right: 0rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  box-shadow: 2px 2px 5px black;
  border-bottom: 2px solid #4b5320;
  z-index: 25;
  width: 100%;
  background-color: #24558d;
  color: white;

  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 0 20px rgba(0, 0, 0, 0.3),
    inset 0 0 30px rgba(0, 0, 0, 0.2),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}
.headerCenterTextBox {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 12px;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgb(123, 99, 99);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-shadow: 2px 2px 3px #1c0303;
  color: #492407;
  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 0 20px rgba(0, 0, 0, 0.3),
    inset 0 0 30px rgba(0, 0, 0, 0.2),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.outerOctoglassesWrapper {
  position: absolute;
  right: 4rem;
  top: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 12px gray;
}

.octoglassesWrapper {
  position: relative;
  display: flex;
  box-shadow: 0px 0px 12px gray;
  border-radius: 50%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
}
.outerOctoglassesWrapper:hover {
  box-shadow: 0px 0px 22px #6a5555;
}

.outerNewMeWrapper {
  position: absolute;
  box-shadow: 0px 0px 12px black;
  border-radius: 50%;
  left: 4rem;
  top: 1rem;
}

.newMeWrapper {
  position: relative;
  display: flex;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.8);
}
.newMeWrapper:hover {
  background-image: linear-gradient(to top right, black, #c7b090, #4b5320);
  border-radius: 50%;
}

.dataToolTip82:hover:before,
.dataToolTip82:hover:after {
  --scale: 1;
}
.dataToolTip82::before {
  content: attr(data-tool-tip);
  background: radial-gradient(#6a5555, #492407);

  color: #fef3c7;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: right;
  transition: ease-in 0.25s;
  top: 2.9rem;
  right: 5.3rem;
  border: 1px solid #867575;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  --scale: 0;
  z-index: 3;
}

.dataToolTip82:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.1em 0.1em;

  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  transition: 0.35s;
  top: 2.55rem;
  right: 6.65rem;
  border: 15px solid transparent;
  border-left: #6a5555 10px solid;
  border-radius: 15px;
  color: #6a5555;
  --scale: 0;
  z-index: 1;
}

.dataToolTip81:hover:before,
.dataToolTip81:hover:after {
  --scale: 1;
}
.dataToolTip81:before {
  content: attr(data-tool-tip);
  background: radial-gradient(#6a5555, #492407);
  color: #fef3c7;
  width: max-content;
  position: absolute;

  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  top: 2.95rem;
  left: 17.85rem;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: left;
  transition: ease-in 0.25s;
  border-radius: 10px;
  border: 1px solid #867575;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  --scale: 0;
  z-index: 3;
}

.dataToolTip81:after {
  content: "";

  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: right;
  transition: 0.35s;
  top: 2.5rem;
  left: 10.4rem;
  bottom: 0.8rem;
  border: 15px solid transparent;
  border-right: #6a5555 10px solid;
  border-radius: 15px;

  color: #6a5555;
  --scale: 0;
  z-index: 1;
}
